[[extend 'layout.html']]

<section class="section">
  <h1 class="title">
    Delete All Your Personal Information
  </h1>
  
  <p class="mb-4">
    <strong>WARNING: This cannot be undone.</strong>
    There is no backup (if there were, we would need to delete your information in the backup also!).
  </p>
  <div class="content">
    <h2>What Is Deleted</h2>
    <p>This deletes all your personal information on the system, including:</p>
    <ul>
      <li>All grades you have received, if you are a student.</li>
      <li>All your profile information.</li>
      <li>Your affiliation with all assignments.</li>
      <li>All of your assignments, if you are a teacher, including all of the votes received by students in the assignments.</li>
    </ul>
    
    <h2>What Is NOT Deleted</h2>
    <ul>
      <li>Any files on Google Drive.  Those files are under the control of the users, who can delete them if they so wish.  The service has no longer access to them.</li>
      <li>The log files.  Those are deleted automatically after some time, as per privacy policy.</li>
    </ul>
    
    <h2>Are You Sure?</h2>
    <p>If you delete it, it's all gone -- POOF!  If you are a student, make sure you don't need any grades. If you are a teacher, make sure you have downloaded any grades you need.</p>
  </div>

  [[=form]]
</section>