[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components-bulma/grid/grid.css')]]">
[[end]]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title">[[=assignment.name]] <span @mouseover="show_homework_help = true" @mouseout="show_homework_help = false" class="icon is-small has-text-primary ml-3"><i class="fa fa-info-circle"></i></span></h1>
  <div class="box has-background-primary-light has-text-primary-dark" v-if="show_homework_help">
    <p v-if="drive_url">Please work on the assignment accessible via the button below, and remember to have it graded before {{submission_deadline}}.
    <p v-else>The assignment is not available yet; it will become accessible on {{date_available}}.</p>
  </div>
  
  <p><b>Grading limit:</b> You can have your assignment graded at most [[=assignment.max_submissions_in_24h_period]] times in 24h.</p>
  <p class="mt-2"><b>Submission deadline:</b> {{submission_deadline}}</p>
  <p class="mt-2"><b>Late submission possible until:</b> <span @mouseover="show_late_help = true" @mouseout="show_late_help = false" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span> {{date_closes}}</p>
  <div class="box has-background-primary-light has-text-primary-dark" v-if="show_late_help">
    <p>Late submissions are graded, but the grade will not be used unless the instructor manually flags it as valid.</p>
  </div>
  
  <div v-if="drive_url">
    <a :href="drive_url" target="_blank" class="button is-success mt-3">Access assignment</a>
  </div>
  <div v-else-if="assignment_is_available">
    <p class="has-text-weight-semibold mt-2">Please obtain the assignment by clicking on the button below:</p>
    <p><button class="button is-success" :class="{'is-loading': obtain_disabled}" :disabled="obtain_disabled" @click="obtain_assignment">Get Assignment</button></p>
  </div>
  <div v-else-if="assignment_not_yet_open">
    <p class="has-text-weight-semibold mt-2">The assignment will become available on {{date_available}}.</p>
  </div>
  <div v-else>
    <p class="has-text-weight-semibold mt-2">The instructor has not finalized the assignment yet. Check back later.</p>
  </div>
  
  
  [[if can_grade:]]
  <div class="mt-5" v-if="drive_url && submission_open">
    <p >To receive credit for your work, you must submit it for grading before the deadline.
    <b>You can still request [[=assignment.max_submissions_in_24h_period - num_grades_past_24h]] gradings</b> in these 24h.</p>
    <p class="mt-3"><b>Save your Colab notebook</b> before requesting grading.</p>
    <button class="button is-warning mt-2" :disabled="is_grading" :class="{'is-loading': is_grading}" @click="grade_homework">Grade My Work</button>
    
    <div class="box has-background-success-light has-text-success-dark mt-2" v-if="grading_outcome && !grading_error">
      {{grading_outcome}}
    </div>

    <div class="box has-background-danger-light has-text-danger-dark mt-2" v-if="grading_outcome && grading_error">
      {{grading_outcome}}
    </div>
    <div v-if="cell_source" class="control">
      <p class="has-text-danger-dark">Go to <a :href="drive_url" target="_blank">your assignment</a>,
        fix the error in the code cell depicted below, and request grading again:</p>
      <textarea class="textarea is-danger is-family-monospace is-size-7" type="text" :value="cell_source" readonly></textarea>
    </div>

  </div>
  [[else:]]
  <div class="box has-text-danger-dark has-background-danger-light mt-4">
    [[=reason]]
  </div>
  [[pass]]
  
  <h2 class="subtitle mt-5">Your Grades
    <span @mouseover="show_grades_help = true" @mouseout="show_grades_help = false" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span></h2>
<!--    <button @click="do_reload" class="button is-small ml-2"><i class="fa fa-refresh"></i></button></h2>-->
   <div class="box has-background-primary-light has-text-primary-dark" v-if="show_grades_help">
    <p>Below are the grades and feedback you received.
      Grades for late submissions are valid only if the instructor marks them so manually.</p>
  </div>
  [[=grid]]
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    const homework_details_url = "[[=XML(homework_details_url)]]";
    const obtain_assignment_url = "[[=XML(obtain_assignment_url)]]";
    const grade_homework_url = "[[=XML(grade_homework_url)]]";
    const recent_grade_date_url = "[[=XML(recent_grade_date_url)]]";
    const error_url = "[[=XML(error_url)]]";
    const internal_error_url = "[[=XML(internal_error_url)]]";
</script>
<script src="components-bulma/vueform/luxon.min.js"></script>
<script src="[[=URL('static/components-bulma/grid/grid.js')]]"></script>
<script src="js/homework.js"></script>
[[end]]
