<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          <span class="icon"><i class="fa fa-home"></i></span> <span class="ml-1">NotebookGrader</span>
          <!-- <img class="logo" width="150" src="images/site_icon.png"> -->
        </a>
        <a class="navbar-item" href="[[=URL('student-home')]]">
          <span class="icon"><i class="fa fa-graduation-cap"></i></span> <span class="ml-1">Student</span>
        </a>
        <a class="navbar-item" href="[[=URL('teacher-home')]]">
          <span class="icon"><i class="fa fa-institution"></i></span> <span class="ml-1">Teacher</span>
        </a>
        [[if globals().get('user') and globals().get('user').get('email') == "luca.de.alfaro@gmail.com":]]
        <a class="navbar-item" href="[[=URL('admin-home')]]">
          <span class="icon"><i class="fa fa-gears"></i></span> <span class="ml-1">Admin</span>
        </a>
        [[pass]]
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>

        <div class="navbar-end">
          [[if globals().get('user'):]]
          <div class="navbar-item">
            [[=globals().get('user').get('email')]]
          </div>
          [[pass]]
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
                <a class="button is-warning" href="[[=URL('auth/plugin/oauth2googlescoped/logout')]]">Sign Out</a>
              [[else:]]
              <a class="button is-link" href="[[=URL('auth/plugin/oauth2googlescoped/login', vars=dict(next=URL('index')))]]">Sign In</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="https://py4web.com">py4web</a>.
        <a class="ml-5" href="[[=URL('privacy_policy')]]">Privacy Policy</a>
        <a class="ml-5" href="[[=URL('terms_of_use')]]">Terms of Use</a>
      </div>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
