[[extend 'layout.html']]

<div class="section">
    <h1 class="title">Obtain New Notebook</h1>

    <p><b>Assignment:</b> [[=assignment_name]]</p>

    <p class="mt-3">If your notebook becomes corrupted, or if you cannot access it (because, e.g., you inadvertently deleted it),
        you can obtain a new copy.</p>
    <p class="mt-3 mb-5">If you do so, the existing notebook (if any) is <i>not</i> deleted, so that you can copy your work to the new notebook.
        If you obtain a new copy of the notebook, it is the new copy that will be graded.</p>
        
    [[=form]]
</div>