[[extend 'layout.html']]

<section class="section">
  <h1 class="title">Privacy Policy</h1>
  
  <div class="content">
    <p>
      We refer to the NotebookGrader application as the Service.
      The NotebookGrader application is owned and controlled by CrowdGrader, LLC ("CrowdGrader")
    </p>
    
    <h2>Information Collected</h2>
    <p>
      The Service collects the following information:
      <ul>
        <li><em>User profile information,</em> including email address, first and last names, and profile picture.</li>
        <li><em>Cookies:</em> the Service relies on cookies to enable you to log in.</li>
        <li><em>Information you upload:</em> any assignment you upload is stored in the system.</li>
        <li><em>Information you input:</em> any information you input, such as assignment names and deadlines, is stored in the system.</li>
        <li><em>Log files:</em> to enable the monitoring and debugging of the information, accesses are logged and retained for a time not exceeding one year.  Information logged includes IP addresses used to access the service, URLs visited, and the browser type (technically called the user agent). </li>
      </ul>
    </p>
    
    <h2>Use of Information</h2>
    <p>
      In addition to other uses mentioned in this Privacy Policy, we may use information that we receive to:
      <ul>
        <li>Provide the Service, as well as monitor, test, and debug the Service.</li>
        <li>Develop and test new features for the Service.</li>
        <li>Develop metrics and analytics that help us understand how users use the Service.</li>
      </ul>
    </p>
    
    <h2>Sharing of Information</h2>
    <ul>
      <li>The Service will not share Personal Information with third parties, except as required by law, or with the explicit consent of all users involved, or as necessary to provide the Service.</li>
      <li>In order to provide the Service, the Service may share information (including log files) with contractors, consultants, and other third parties. These third parties will be bound by reasonable confidentiality terms.</li>
      <li>The Service may enter into a business transfer such as a merger, acquisition, or corporate restructuring. In the event of any such transfer, assets necessary to run the Service (including without limitation Personal Information) may be transferred to the successor in interest. </li>
      <li>Except as set forth above, information is not shared.</li>
    </ul>
    
    <h2>Storage and Retention of Information</h2>
    <ul>
      <li>The Service may store the information used to provide the Service in any country, unless otherwise detailed in specific agreements made with specific users or organizations.</li>
      <li>Documents stored in Google Drive (such as student's work, or instructor's copies of notebooks) are under the control of the users, and they can delete them when they wish.</li>
      <li>NotebookGrader keeps a copy of anything submitted for grading for six months, to allow auditing for the submission of malicious code.  After six months, submissions are automatically deleted.</li>
      <p>You can, at any time, delete all your personal information stored on the service.  You can do it by following the link below:</p>
      <p><a class="button is-danger" href="[[=URL('delete_personal_information')]]">Delete All My Personal Information</a></p>
    </ul>
    
    <h2>Changes in This Policy</h2>
    <p>
      The Service may change its Privacy Policy from time to time and the policy published on the Service website governs the Service’s use of Personal Information at the time it is posted. You should review this Privacy Policy before submitting any uniquely sensitive information to confirm that you agree and accept to the Service’s use of such information., and you should check it periodically.
    </p>
    
  </div>

</section>