[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components-bulma/vueform/vueform.css')]]">
[[end]]


<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title">Assignment
    [[if is_owner:]]
    <a class="button is-primary" href="[[=URL('edit-assignment', assignment_id)]]">
      <span class="icon is-small"><i class="fa fa-pencil"></i></span>
    </a>
    <a class="button is-danger" href="[[=URL('delete-assignment', assignment_id)]]">
      <span class="icon is-small"><i class="fa fa-trash"></i></span>
    </a>
    [[pass]]
    <a class="button is-success ml-3" href="[[=URL('participants', assignment_id)]]">
      <span class="icon is-small"><i class="fa fa-users"></i></span>
    </a>
  </h1>

  [[=form]]
  
  <h2 class="subtitle mt-2">Access URL <span @mouseover="show_access_help = true" @mouseout="show_access_help = false" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span></h2>
  <div class="box has-background-primary-light has-text-primary-dark" v-if="show_access_help">
    <p>Students can use this URL to join the assignment.
      If you regenerate it, students with the old URL will no longer be able to join the assignment.</p>
  </div>
  <div class="control">
    <input class="input is-family-monospace is-family-monospace is-size-7" type="text" :value="access_url" readonly>
  </div>
  [[if is_owner:]]
  <p class="mt-3">
    <button class="button is-warning" @click="regenerate_access_url"><span class="icon is-small"><i class="fa fa-refresh"></i></span><span>Regenerate</span></button>
  </p>
  [[pass]]

  <div @mouseleave="show_notebook_help = false">
    <h2 class="subtitle mt-5">Notebook <span @mouseover="show_notebook_help = true" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span></h2>
    <div class="box has-background-primary-light has-text-primary-dark" v-if="show_notebook_help">
      <p>To prepare the test for the students, you need to upload a notebook <a href="[[=URL('notebook-guidelines')]]">formatted according to the NotebookGrader guidelines</a>. </p>
      <p class="mt-2">After uploading the notebook, please check the instructor version that is produced and check for errors.</p>
      <p class="mt-2">You can re-upload the notebook at any time before the test starts: the test will use the last notebook you uploaded.</p>
      <p class="mt-2">Once the test has started (once the notebook is available to the students), you can only re-upload a notebook that is obtained from the instructor version below, and that is identical to that notebook except possibly for some hidden test. This is to ensure that all students work on the same version of the test.</p>
    </div>
  </div>

  [[if upload_url:]]
  <div class="field has-addons mt-5">
    <p class="control">
      <div class="file is-info">
        <label class="file-label">
          <input class="file-input" type="file" accept=".ipynb" @change="upload_file($event)">
          <span class="file-cta">
            <span class="file-icon">
              <i v-if="uploading" class="fa fa-spinner fa-pulse fa-fw"></i>
              <i v-else class="fa fa-upload fa-fw"></i>
            </span>
            <span class="file-label">
              <span v-if="instructor_version">Upload New Notebook</span>
              <span v-else>Upload Notebook</span>
            </span>
          </span>
        </label>
      </div>
    </p>
  </div>
  
  <div class="box has-background-danger-light has-text-danger-dark" v-if="upload_error">
    {{upload_error}}
  </div>
  [[pass]]
  
  <div v-if="instructor_version"><a target="_blank" :href="instructor_version">Notebook, instructor version</a> <span @mouseover="show_instructor_version_help = true" @mouseout="show_instructor_version_help = false" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span></div>
  <div class="box has-background-primary-light has-text-primary-dark" v-if="show_instructor_version_help">
    <p>This is the instructor version of the notebook.  <b>Do not give this version to students!</b>
    Please check that after every test cell, there is an output indicating that the tests have been executed successfully, earning the proper number of points.
    This indicates that the test cell is in the proper format.</p>
    <p class="mt-2"><b>Changes to this notebook are NOT reflected in the assignment.</b>
    To change the assignment, you need to download this (or another) notebook, and upload it
    using the button below.</p>
  </div>
  
  <div v-if="student_version"><a target="_blank" :href="student_version">Notebook, student version</a> <span @mouseover="show_student_version_help = true" @mouseout="show_student_version_help = false" class="icon is-small has-text-primary"><i class="fa fa-info-circle"></i></span></div>
  <div class="box has-background-primary-light has-text-primary-dark" v-if="show_student_version_help">
    <p>This is the student version of the notebook.  You do not give this version to students directly: they will obtain their own version via NotebookGrader, which will allow their work to be graded.  If you give in emergency a student this version, you will be able to upload and have it graded, but it's a slow one-notebook-at-a-time process.
    </p>
  </div>
  

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    [[if change_access_url is not None:]]
    const change_access_url = "[[=XML(change_access_url)]]";
    [[else:]]
    const change_access_url = null;
    [[pass]]
    const notebook_version_url = "[[=XML(notebook_version_url)]]";
    [[if upload_url is not None:]]
    const upload_url = "[[=XML(upload_url)]]";
    [[else:]]
    const upload_url = null;
    [[pass]]
</script>
<script src="components-bulma/vueform/luxon.min.js"></script>
<script src="[[=URL('static/components-bulma/vueform/vueform.js')]]"></script>
<script src="js/teacher_view_assignment.js"></script>
[[end]]
