[[extend 'layout.html']]

<div class="section">
    <div class="content">
    
    <h1>Terms of Use</h1>

    <p>By accessing or using the NotebookGrader web site, or any applications made available by CrowdGrader, LLC (together, the “Service”), you agree to be bound by these terms of use, and all policies listed on the www.crowdgrader.org website, inluding without limitations, the Payment  Terms and Conditions (collectively, the "Terms of Use"). The Service is owned or controlled by CrowdGrader, LLC (“CrowdGrader”). These terms of use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, you may not access or use the Service.</p>

    <h2>General Conditions</h2>
    <ul>
    <li>You must be at least 13 years old to use the Service. Using the service requires a Google Account, which has a minimum age requirement of 13 years of age.</li>

    <li>You are prohibited from using the service if any of the students involved are younger than 13 years old.</li>

    <li>While we do not monitor or edit user submissions, we reserve the right to refuse to host any material that may be submitted.</li>
    </ul>

    <h2>Content</h2>

    <p>You may not use the Service for illegal purposes.</p>

    <p>You may not solicit the submission of:</p>
        <ul>
        <li>unlawful content,</li>
        <li>content that incites to violence or hate,</li>
        <li>content that is illegally copied or otherwise in violation of third party intellectual property rights.</li>
        </ul>
    <p>As a homework assignment manager, you must take responsibility for the content that will be submitted for each assignments, including reviews. You should monitor the content submitted, and promptly remove content that violates these Terms of Use.</p>

    <p>CrowdGrader does not claim ownership of any content posted to the Service. Users hereby grant CrowdGrader a non-exclusive, fully paid and royalty-free, transferable, worldwide license to use, copy, analyze, create derivative works of, distribute, and display the content they submit in a way that is consistent with the CrowdGrader Privacy Policy.</p>

    <p>You represent and warrant that:</p>
        <ul>
        <li>you own the content posted to the Service, or otherwise have the right to grant the rights and licenses set forth in these Terms of Use;</li>
        <li>the posting and use of content through the service does not violate or infringe the rights of any third party, including copyright and intellectual property rights.</li>
        </ul>
    <p>We may, but have no obligation to, remove any content that we determine in our sole discretion to be in violation to these Terms of Use.</p>

    <h2>Rights</h2>

    <p>Although it is CrowdGrader’s intention to make the Service available and accessible by all of its users, there will be times when the Services will be unavailable, due to a variety of reasons including interruptions deemed necessary for CrowdGrader’s business purposes and the unavailability of third-party services that CrowdGrader uses to deliver the Service, such as networking and cloud computing services. CrowdGrader shall not be liable for any damage that might incur to any user of the Service from these interruptions.</p>

    <p>Although it is CrowdGrader’s intention to preserve the content of each assignment for at least one year after the close of the review phase, you should promptly download and make copies of the information related to each class, including but not limited to the grades. CrowdGrader shall not be liable for any damage that might incur to any use of the Service due to loss of data.</p>

    <p>It is CrowdGrader’s policy not to accept or consider ideas and suggestions other than those that we request explicitly. This is to avoid any misunderstanding if the ideas or suggestions are similar to features we are independently developing or will develop in the future. If you do send us ideas or suggestions, you agree that CrowdGrader is free to use those ideas and suggestions (“Feedback”) for any and all purposes, without any liability or payment of any kind to you, and by submitting any Feedback you grant CrowdGrader a fully-paid-up, worldwide license to make, use, copy, sell, modify, distribute, display, create derivative works and/or improvements of the Feedback.</p>

    <h2>Disclaimers</h2>

    <p>THE SERVICE IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED. CROWDGRADER SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.</p>

    <h2>Limitation of Liability</h2>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, CROWDGRADER SHALL NOT BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES.</p>

    <p>IN NO EVENT SHALL THE AGGREGATE LIABILITY OF CROWDGRADER EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID CROWDGRADER OR CROWDGRADER RECEIVED IN CONNECTION WITH YOUR USE OF CROWDGRADER, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT CROWDGRADER HAS BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>
      </div>
</div>
